@charset "UTF-8";

:root {
    --color-shark-1: #001234;
    --body-line-height: 1.4;
}

.ck-content {
    color: var(--color-shark-1);
    line-height: var(--body-line-height);
    -webkit-font-smoothing: antialiased;
    font-family: "Mulish", sans-serif;
    font-size: 16px;
}


/* ---- Cross-editor content styles. --------------------------------------------------------------- */
.ck.ck-content:not(.ck-style-grid__button__preview) {
    /* Make sure all content containers have some min height to make them easier to locate. */
    box-sizing: border-box;
    height: 200px;
    padding: 1.5em 1.5em;
}

.ck-source-editing-area {
    /* Make sure all content containers have some min height to make them easier to locate. */
    height: 200px;
}

.ck-source-editing-area textarea {
    padding: 1.5em 1.5em;
    overflow: auto;
}

/* Make sure all content containers are distinguishable on a web page even of not focused. */
.ck.ck-content:not(:focus) {
    border: 1px solid var(--ck-color-base-border);
}

.ck.ck-content.ck-editor__editable_inline>:first-child {
    margin-top: 0;
}

/* Font sizes and vertical rhythm for common elements (headings, lists, paragraphs, etc.) */
.ck-content h1 {
    font-size: 2.3em;
}

.ck-content h2 {
    font-size: 1.84em;
}

.ck-content h3 {
    font-size: 1.48em;
}

.ck-content h4 {
    font-size: 1.22em;
}

.ck-content h5 {
    font-size: 1.06em;
}

.ck-content h6 {
    font-size: 1em;
}

.ck-content h1,
.ck-content h2,
.ck-content h3,
.ck-content h4,
.ck-content h5,
.ck-content h6 {
    line-height: 1.2em;
    padding-top: 0.8em;
    margin-bottom: 0.4em;
}

.ck-content blockquote,
.ck-content ol,
.ck-content p,
.ck-content ul {
    font-size: 1em;
    line-height: 1.6em;
    padding-top: 0.2em;
    margin-bottom: var(--ck-spacing-large);
}

/* ---- Style feature content styles ------------------------------------------------------ */
.ck-content {
    --ck-georgia-serif-font-stack: Georgia, Times, Times New Roman, serif;
}

.ck-content .ck-horizontal-line {
    margin-bottom: 1em;
}

.ck.ck-content h3.category {
    font-family: var(--ck-georgia-serif-font-stack);
    font-size: 20px;
    font-weight: bold;
    color: #555;
    letter-spacing: 10px;
    margin: 0;
    padding: 0;
}

.ck-content h2.document-title {
    font-family: 'Bebas Neue';
    font-size: 50px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    border: 0;
}

.ck-content h3.document-subtitle {
    font-family: 'Bebas Neue';
    font-size: 20px;
    color: #555;
    margin: 0 0 1em;
    font-weight: normal;
    padding: 0;
}

.ck.ck-content p.info-box {
    --background-size: 30px;
    --background-color: #e91e63;
    padding: 1.2em 2em;
    border: 1px solid var(--background-color);
    background: linear-gradient(135deg, var(--background-color) 0%, var(--background-color) var(--background-size), transparent var(--background-size)), linear-gradient(135deg, transparent calc(100% - var(--background-size)), var(--background-color) calc(100% - var(--background-size)), var(--background-color));
    border-radius: 10px;
    margin: 1.5em 2em;
    box-shadow: 5px 5px 0 #ffe6ef;
}

.ck-content p.callout {
    --border-color: #e91e1e;
    padding: 1.2em 2em;
    border: 1px solid var(--border-color);
    border-left: 10px solid var(--border-color);
    background: #fff9fb;
    border-radius: 5px;
    margin: 1.5em 2em;
    box-shadow: 5px 5px 0 #ffe6ef;
}

.ck-content blockquote.side-quote {
    font-family: var(--ck-georgia-serif-font-stack);
    font-style: normal;
    float: right;
    width: 35%;
    position: relative;
    border: 0;
    overflow: visible;
    z-index: 1;
    margin-left: 1em;
}

.ck-content blockquote.side-quote::before {
    content: "“";
    position: absolute;
    top: -37px;
    left: -10px;
    display: block;
    font-size: 200px;
    color: #e7e7e7;
    z-index: -1;
    line-height: 1;
}

.ck-content blockquote.side-quote p {
    font-size: 2em;
    line-height: 1;
}

.ck-content blockquote.side-quote p:last-child:not(:first-child) {
    font-size: 1.3em;
    text-align: right;
    color: #555;
}

.ck-content span.needs-clarification {
    outline: 1px dashed #c8a24b;
    background: #ffe19c;
    border-radius: 2px;
    position: relative;
}

.ck-content span.needs-clarification::after {
    content: "?";
    display: inline-block;
    color: #fff;
    background: #3b3b3b;
    font-size: 12px;
    vertical-align: super;
    width: 12px;
    height: 12px;
    line-height: 12px;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    right: -6px;
    top: -6px;
    font-weight: bold;
    letter-spacing: initial;
}

.ck-content span.wide-spacing {
    letter-spacing: 0.3em;
}

.ck-content span.small-caps {
    font-variant: small-caps;
}

.ck-content span.spoiler {
    background: #000;
    color: #000;
}

.ck-content span.spoiler:hover {
    background: #000;
    color: #fff;
}

.ck.ck-content pre.fancy-code {
    border: 0;
    margin-left: 2em;
    margin-right: 2em;
    border-radius: 10px;
}

.ck.ck-content pre.fancy-code::before {
    content: "";
    display: block;
    height: 13px;
    background: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1NCAxMyI+CiAgPGNpcmNsZSBjeD0iNi41IiBjeT0iNi41IiByPSI2LjUiIGZpbGw9IiNGMzZCNUMiLz4KICA8Y2lyY2xlIGN4PSIyNi41IiBjeT0iNi41IiByPSI2LjUiIGZpbGw9IiNGOUJFNEQiLz4KICA8Y2lyY2xlIGN4PSI0Ny41IiBjeT0iNi41IiByPSI2LjUiIGZpbGw9IiM1NkM0NTMiLz4KPC9zdmc+Cg==);
    margin-bottom: 8px;
    background-repeat: no-repeat;
}

.ck.ck-content pre.fancy-code-dark {
    background: #272822;
    color: #fff;
    box-shadow: 5px 5px 0 #0000001f;
}

.ck.ck-content pre.fancy-code-bright {
    background: #dddfe0;
    color: #000;
    box-shadow: 5px 5px 0 #b3b3b3;
}


.ck-content a {
    text-decoration: none;
}

.ck-content a:hover {
    text-decoration: underline
}

/* ---- Word Count Container Styles ------------------------------------------------------ */
.ck.ck-word-count {
    display: flex;
    justify-content: flex-end;
    background: var(--ck-color-toolbar-background);
    padding: var(--ck-spacing-small) var(--ck-spacing-standard);
    border: 1px solid var(--ck-color-toolbar-border);
    border-top-width: 0 !important;
    border-radius: 0 0 var(--ck-border-radius);
    font: normal normal normal var(--ck-font-size-base)/var(--ck-line-height-base) var(--ck-font-face)
}

.ck.ck-word-count .ck-word-count__words {
    margin-right: var(--ck-spacing-standard)
}


/* ---- Fullscreen  Styles ------------------------------------------------------ */
.ck.ck-reset.ck-editor.fullscreen-mode {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

.ck.ck-reset.ck-editor.fullscreen-mode .ck.ck-editor__main {
    display: flex;
    flex-direction: column;
}

.ck.ck-reset.ck-editor.fullscreen-mode .ck.ck-content,
.ck.ck-reset.ck-editor.fullscreen-mode .ck-source-editing-area {
    flex: 1;
    max-height: unset !important;
}

.ck.ck-button.ck-source-editing-button .ck.ck-button__label {
    display: none;
}